:root {
    --primary: rgb(56, 16, 56);
    --secondary: rgb(17, 49, 17);
    --third: rgb(58, 55, 55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--third);
    background-color: lightgray;
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}
/* this is main page content */
.first-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.first-title {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 900;
}

.first-p {
    color: var(--secondary);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.home-btn {
    margin: 20px 500px 0 500px;
    background-color: black;
    color: var(--secondary);
    font-weight: 900;
    border-radius: 10px;
    height:30px;
}
/*main page content end */

/*question page */
.question-1-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.question {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 900;
}

.answer-1, .answer-2, .answer-3, .answer-4 {
    margin: 20px 500px 0 500px;
    background-color: black;
    color: var(--secondary);
    font-weight: 900;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}

.answer-1:hover,.answer-2:hover,.answer-3:hover,.answer-4:hover,.home-btn:hover {
    background-color:aquamarine;
}
/* end question page */

/*after question page */
.after-questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.after-h1, .after-p, .input-text {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 900;
}

.after-initials, .after-btn {
    margin: 20px 500px 0 500px;
    background-color: black;
    color: var(--secondary);
    font-weight: 900;
    border-radius: 10px;
    height: 40px;

}

.after-initials:hover, .after-btn:hover {
    background-color: brown;
}
/*After question page end */
/*high score page start */

.high-score-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.high-score-h1 {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 900;
}

.high-score-div button {
    margin: 20px 500px 0 500px;
    background-color: black;
    color: var(--secondary);
    font-weight: 900;
    border-radius: 10px;
    height: 40px;
}

.high-score-div button:hover {
    background-color:brown;
}
